@using twitter.Models

@model TweetsModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twitter Terms Popularity</h1>
    <p>Your search for @Model.searchTerm1 & @Model.searchTerm2</p>
    <div>
        <div>@Model.searchTerm1 = @Model.searchTermCount1</div>
        <div>@Model.searchTerm2 = @Model.searchTermCount2</div>
    </div>
    
    <h2>Search Popularity History</h2>
    @foreach (var item in Model.tweetsCount)
        {
            <div>
                @item.searchTerm1,@item.searchTermCount1,@item.searchTerm2,@item.searchTermCount2
                <hr />
            </div>
        }

</div>