@using twitter.Models

@model TweetsModel

@{
    ViewBag.Title = "Twitter Search Page";
}

<div class="jumbotron">
    <h1>Twitter Terms Popularity</h1>
    <p>Enter a term (word or phrase) in each of the boxes below to check their tweet popularity.</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <p>
            @Html.Label("Term 1:") @Html.TextBox("txtSearchTerm1", Model.searchTerm1) <br />
            @Html.Label("Term 2:") @Html.TextBox("txtSearchTerm2", Model.searchTerm2)
            @if (Model.strError != "") {<br /><span class="error">@Html.Raw(Model.strError)</span>}
        </p>
        <p>
            <input type="submit" name="btnSearchTweets" value="Search" id="searchTweets" />
        </p>
        if (Model.showTweets) { 
            <div id="vwTweets" style="width: 100%; float:left;">
                <p><b>Your popularity search:</b> @Model.searchTerm1 = @Model.searchTermCount1 compared to @Model.searchTerm2 = @Model.searchTermCount2</p>
                <div>
                    @if (Model.searchTermCount1 > Model.searchTermCount2) {
                        <p><b>@Model.searchTerm1</b> had more popularity than <b>@Model.searchTerm2</b></p>
                    } else if(Model.searchTermCount1 < Model.searchTermCount2) {
                        <p><b>@Model.searchTerm2</b> had more popularity than <b>@Model.searchTerm1</b></p>
                    } else {
                        <p><b>@Model.searchTerm1</b> and <b>@Model.searchTerm2</b> have equal popularity</p>
                    }
                </div>
                <hr class="thicker" />
                <h2>Search History</h2>
                <hr class="thick" />
                @foreach (var item in Model.tweetsCount)
                {
                <div>
                    <b>@item.searchTerm1 = @item.searchTermCount1</b> compared to <b>@item.searchTerm2 = @item.searchTermCount2</b>
                <hr />
                </div>
                }
            </div>
        }
    }
</div>
